body {
    line-height: 1.05;
}

h2 {
    margin-bottom: 13px;
    margin-top: 13px;
}

h3 {
    margin-bottom: 9px;
    margin-top: 9px;
}

h4 {
    margin-bottom: 9px;
    margin-top: 9px;
}

h5 {
    margin-bottom: 9px;
    margin-top: 9px;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}
