body {
    font-size: 14px;
}

h1 {
    margin: 0px 0px 0px 0px;
    font-size: 54px;
}

h2 {
    margin: 0px 0px 0px 0px;
    font-size: 20px;
}

h3 {
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    display: inline;
}

h4 {
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    font-weight: 650;
    font-style: italic;
    display: inline;
}

#main-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
}

#contact-info {
    margin: 0px 0px 0px 0px;
    font-size: 10px;
    float: right;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.education-extra {
    font-size: 12px;
}

.date {
    display: inline;
    float: right;
}

.part {
    margin: 8px 0px 0px 0px;
}
