body {
    font-family: sans-serif;
}

@media screen {
    body {
        background: #90FFC0;
    }
}

@media screen and (width >= 900px) {
    body {
        font-size: 15pt;
        margin: 0 auto;
        max-width: 44em;
        padding: 2.5em 2.5em;
    }
}

ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 1.1em;
}

h1 {
    margin: 0.4em 0em;
    font-weight: 700;
    font-size: 3.4em;
    line-height: 1em;
}

h2 {
    margin: 0px 0px 0px 0px;
    font-size: 2em; /* 20px; */
}

h3 {
    margin: 0 0 0 0;
    /* font-family: sans-serif; */
    font-size: 1.2em; /* 16px; */
    font-weight: 700;
    display: inline;
}

h4 {
    margin: 0px 0px 0px 0px;
    font-size: 1.0em; /* 14px; */
    font-weight: 650;
    font-style: italic;
    display: inline;
}

#main-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
}

#contact-info {
    margin: 0px 0px 0px 0px;
    font-size: 0.8em; /* 10px; */
    float: right;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.education-extra {
    font-size: 0.8em; /* 10px; */
}

.date {
    padding: 0 0 0 1.6em;
    display: inline;
    float: left;
    color: #404040;
    font-weight: 400;
    font-size: 0.8em; /* 10px; */
}

.part {
    /* margin: 14px 0px 0px 0px; */
    margin: 0.85em 0 0 0;
}

.entry {
    background: #EAEAEA;
    padding: 0.30em 0.30em;
    margin: 0.7em auto;
    width: auto;
}

.blog {
    margin: 1.5em 0;
}

.content {
    /* margin: 0px 0px 5px 0px; */
    margin: 1em 0.35em 1em 0.35em;
    padding: 0.22em 0.22em 0.22em 0.22em;
    background: #EAEAEA;
}

.outer {
    background: #FAFAFA;
    padding: 2em 2em;
}
